<html>
  <head>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>Place Finder</title>
  </head>
  <body>
      <div id="root" style="
      display: flex;
      flex-direction: column;
      
      align-items: center;
      height: 100vh;
      "></div>
    
      <script type="text/babel">
          const Result = ({ r }) => {
            return (
              <div>
                <h3>{r.name} </h3>
                <p>Latitude {r.latitude} Longitude {r.longitude}</p>
                <a href={`https://www.google.com/maps/search/?api=1&query=${r.latitude},${r.longitude}`} target={`_blank`}>Open in maps!</a>
              </div>
            )
          }
          const Results = ({ results }) => {
  
              return(
                <div>
                    {
                      results.map(r => <Result key={r.geonameid} r={r}/>)
                    }
                </div>  
              )   
          }
  
          const App = () => {
  
              const [results, setResults] = React.useState([]);
              const [searchTerm, setSearchTerm] = React.useState('');
              const [searchTimer, setSearchTimer] = React.useState(0);
  
              const searchLocation = async (search) => {

                if(search.length <= 2){
                  setResults([])
                }

                if(search.length >= 2){

                  const res = await fetch(`http://localhost:3000/locations?q=${search}`);
  
                  const data = await res.json();

                  console.log(data)

                  setResults(data)
                }   
              }

              const capAndAmp = (arr) => {

                let alteredArray = [];

                for(let i = 0; i < arr.length; i++){

                    if(arr[i] === 'and'){
                      alteredArray.push('&')
                    } else {
                      let lowercase = arr[i].toLowerCase().split('')
                      let capped = lowercase.shift().toUpperCase()
                    
                      let cappedArray = [...capped, ...lowercase];
                      let cappedWord = cappedArray.join('');
                      alteredArray.push(cappedWord)
                    }
                }
                return alteredArray.join(' ');
              }
  
              const handleUserInput = async (e) => {
                
                setSearchTerm(e.target.value)

                if(e.target.value.length <= 2){
                  setResults([])
                }

                if(e.target.value.length >= 2){

                  const inputSplit = await e.target.value.split(' ');
                  const capsAndAmpersand = await capAndAmp(inputSplit)
                  searchLocation(capsAndAmpersand)

                }
              }
  
              const handleSearch = async (e) => {
                
                  e.preventDefault();

                  if(searchTerm.length < 2){
                    setResults([])
                  }

                  if(searchTerm.length > 2){

                    const res = await fetch(`http://localhost:3000/locations?q=${searchTerm}`);
  
                    const data = await res.json();

                    setResults(data)

                  }  
              }
  
              return(
                  <div style={{ display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center' }}>
                      <h1 >Search for points of interest in the UK</h1>
                        <div>
                          <form onSubmit={handleSearch}>
                            <input placeholder="Enter Location" value={searchTerm} onChange={handleUserInput} />
                            <button type='submit'>search</button>
                          </form>
                        </div>
                        <div>
                            { results.length !== 0 && <Results results={results}/> }
                        </div>
                  </div>
              )
          }
  
          ReactDOM.render(<App />, document.getElementById('root'));
  
      </script>
  </body>
</html>